body {
  font-family: "Century Gothic", Arial, sans-serif;
}

header {
  background-color: black;
  color: #feda4a;
  text-align: center;
  align-content: center;
  padding: 25px 0;
  font-size: 20px;
  box-shadow: 0 0 15px black;
  display: flex;
  justify-content: center;
}

#logo {
  width: 10em;
}

#menu {
  background-color: black;
  color: #feda4a;
  width: 50%;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px black;
}

#movie {
  background-color: black;
  color: #feda4a;
  width: 80%;
  margin: 20px auto 50px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 20px black;
}

#nombre {
    font-size: 2em;
}

#intro {
  font-style: italic;
}
